<nav class="navbar navbar-dark  navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
        src=".\assets\images\logo.79a1dd45e47017ffa5da.PNG" width="120px"
        alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 "
        [class.width-y]="_TranslateService.currentLang == 'ar'">
        <li class="nav-item mx-4">
          <a class="nav-link">

            <span class="uk text-secondary">Deliver to </span>
            <br>
            <i class="fa-solid fa-location-dot me-1"></i>
            <span class="uk bolder">UK</span>
          </a>

        </li>
        <li class="nav-item mt-3">
          <form class="d-flex main-search" role="search">
            <input class="form-control me-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-success "
              type="submit">Search</button>
          </form>
        </li>

      </ul>
      <ul
        [class.width-x]="_TranslateService.currentLang == 'ar'"
        class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-around align-items-center ul-non">
        <li class="nav-item mx-4 ">
          <a class="nav-link account" (click)="_AuthService.logOut()">

            <span class="uk  text-secondary">Hello, sign-out</span>
            <br>

            <span class="uk bolder">Account</span>
          </a>

        </li>
        <li class="nav-item dropdown mt-2 "
          [class.z-dropdown]="_TranslateService.currentLang == 'ar'">
          <a class="nav-link dropdown-toggle " role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <!-- <img src=".\assets\images\uk.jpg" width="50px" alt> -->
            {{"navblank.lang" | translate}}
          </a>
          <ul class="dropdown-menu">
            <li [class.bg-info]="_TranslateService.currentLang == 'en'"
              (click)="change('en')"><a class="dropdown-item">EN</a></li>
            <li [class.bg-info]="_TranslateService.currentLang == 'ar'"
              (click)="change('ar')"><a class="dropdown-item">AR</a></li>

          </ul>
        </li>
        <li class="nav-item mt-4 mx-5">
          <a href class="nav-link">
            <div class="demo-section custom-badge position-relative">
              <i  class="fa-solid fs-1 fa-cart-shopping "></i>
              <span
                class="badge position-absolute countnum start-0 bg-info ">{{countNum()}}</span>
            </div>
          </a>

        </li>
      </ul>

    </div>
  </div>

</nav>
<mat-toolbar #mattooler >
  <mat-toolbar-row>
    <div class="left">
      <button mat-button class="btn btn-white text-white"
        (click)="opened =!opened"
       ><mat-icon>menu</mat-icon></button>
    </div>
    <div class="container-fluid mb-2">

      <ul
        class=" mb-2 mb-lg-0 d-flex align-items-center list-unstyled text-white">

        <a class="me-5  ms-2 text-decoration-none text-white "
          routerLink="/home">
          <li class="fs-6">{{"mattooler.Home"|translate}}</li>
        </a>
        <a class="me-5 ms-2 text-decoration-none text-white "
          routerLink="/cart">
          <li class="fs-6">{{"mattooler.cart"|translate}}</li>
        </a>
        <a class="me-5 ms-2 text-decoration-none text-white "
          routerLink="/product">
          <li class="fs-6">{{"mattooler.products"|translate}}</li>
        </a>
        <a class="me-5 ms-2 text-decoration-none text-white "
          routerLink="/categories">
          <li class="fs-6">{{"mattooler.categories"|translate}}</li>
        </a>
        <a class="me-5 ms-2 text-decoration-none text-white "
          routerLink="/brands">
          <li class="fs-6">{{"mattooler.brands"|translate}}</li>
        </a>
        <a class="me-5 ms-2 text-decoration-none text-white "
        routerLink="/wishlist">
        <li class="fs-6">{{"mattooler.wishlist"|translate}}</li>
      </a>
      </ul>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container #matsidenav>
  <mat-sidenav [(opened)]="opened" mode="side">
    <div (click)="growHeight()" class="my-4 p-2"> <a routerLink="/home"
        class="text-decoration-none text-black fw-bold ">{{"sidenav.home"|translate}}</a></div>
    <div (click)="growHeight()" class="my-4 p-2"> <a
        routerLink="/cart"
        class="text-decoration-none text-black fw-bold ">{{"sidenav.cart"|translate}}</a></div>
    <div (click)="growHeight()" class="mb-4 p-2"> <a routerLink="/product"
        class="text-decoration-none text-black fw-bold  ">{{"sidenav.products"|translate}}</a></div>

    <div (click)="growHeight()" class="mb-4 p-2">
      <a routerLink="/categories"
        class="text-decoration-none text-black fw-bold  ">{{"sidenav.categories"|translate}}

      </a>

    </div>

    <div (click)="growHeight()" class="mb-4 p-2"> <a
        routerLink="/brands"
        class="text-decoration-none text-black fw-bold ">{{"sidenav.brands"|translate}}</a></div>
  </mat-sidenav>

  <mat-sidenav-content #content>

    <div class="main-content">

      <div class=" my-3 d-flex justify-content-center align-items-center">
        <div class="small-div text-center py-2">
          <span class="small">We are displaying products that ship to your
            location. You can select a different location in the menu above.
          </span>
          <a class="text-primary">Click here to learn more about international
            shipping.</a>
        </div>
      </div>


      <div class="container  justify-content-center align-items-center">
        <div class="row">
          @for (cat of categoryitems().slice(0,3); track $index) {
            <div class="col-md-3 ">
              <div class="item bg-white p-2 ">
                <h2 class="h6">{{cat.name}}</h2>
                <img
                  [src]="cat.image"
                  class="w-100" height="200px" alt>
                <a [routerLink]="['/categories',cat._id]">see more</a>

              </div>
            </div>
          }

<div  class="col-md-3 d-flex flex-column justify-content-center align-items-center">
  <div class="top bg-white p-3 mb-2">
    <p>Sign in for your best experience</p>

    <button routerLink="/login" class="btn w-100 bg-warning">
      sign in
    </button>

  </div>
  <div class="bottom">
    <img
      src="./assets/images/XCM_Manual_1587252_3187177_5664918_300x250_en_GB._CB602095227_.jpg"
      class="sub-image" alt>
  </div>
</div>


          </div>
        </div>
      </div>


  </mat-sidenav-content>

</mat-sidenav-container>
