<div class="d-flex justify-content-center align-items-center">


  <section class="shadow border rounded-4 w-50 p-3 my-5">
    <h1 class="text-center">shipping Address</h1>
    <form [formGroup]="orders" (ngSubmit)="ordersSubmit()">



      <div class="my-2">
        <label for="details">details</label>
       <textarea formControlName="details" id="details" class="form-control"></textarea>
      </div>
      <div class="my-2">
        <label for="phone">phone</label>
        <input formControlName="phone" type="tel" id="phone" class="form-control" placeholder="phone">
      </div>
      <div class="my-2">
        <label for="city">city</label>
        <input type="text" id="city" formControlName="city" class="form-control" placeholder="city">
      </div>



      <button type="submit" class="btn btn-main my-2">check out</button>
    </form>
  </section>

</div>
